{% extends 'base.html.twig' %}

{% block title %} 👑 Page de conexion 👑{% endblock %}

{% block body %}
    <div class="container d-flex align-content-center justify-content-center">
        <form class="text-center p-5 w-50" action="#!" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <!-- Default form login -->
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('build/images/LOGO_BUREAU_MINE.png') }}" class="logo mb-4" alt="Logo BureauMine">
            </a>

            <!-- Email -->
            <input type="email" id="inputEmail"
                   value="{{ last_username }}"
                   name="email"
                   class="form-control mb-4"
                   placeholder="E-mail"
                   autocomplete="email" required autofocus>

            <!-- Password -->
            <input type="password"
                   name="password"
                   id="inputPassword"
                   class="form-control mb-4"
                   placeholder="Mot de passe"
                   autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            <div class="d-flex justify-content-around">
                {#            <div> #}
                {#                <!-- Remember me --> #}
                {#                <div class="custom-control custom-checkbox"> #}
                {#                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember"> #}
                {#                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label> #}
                {#                </div> #}
                {#            </div> #}
                <div>
                    <!-- Forgot password -->
                    <a href="">Vous avez oublié votre mot de passe ?</a>
                </div>
            </div>

            <!-- Sign in button -->
            <button class="btn btn-info btn-block my-4" type="submit">Connexion</button>

            <!-- Register -->
            <p>Vous n'êtes pas administrateur ?
                <a href="">Retourner à la page d'acceuil</a>
            </p>

            <!-- Social login -->
            {#        <p>ou enregistrez vous avec :</p> #}

            {#        <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a> #}
            {#        <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a> #}
            {#        <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a> #}
            {#        <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a> #}

        </form>
        <!-- Default form login -->
    </div>
{% endblock %}
