{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block main %}

    {% include('partials/_headerDetail.html.twig') %}
    <div class="positionContainerDetail">
        <div class="wrapper">
            <div class="slider-wrap">
                <div data-controller="carousel" class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for attachment in article.attachments  %}
                        <div class="img-div swiper-slide">
                            <img src="{{ asset( 'build/images/' ~ attachment.image) }}" alt="">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="article">

                <div class="blocBlanc">
                    <p><strong>Clients :</strong></p>
                    <p>{{ article.title }}</p>

                    <p class="detailTitre"><strong>Date :</strong></p>
                    <p>{{ article.createdAt | date("d M", "Europe/Paris") }}</p>

                    <p class="detailTitre"><strong>Catégorie(s) :</strong></p>
                    {% for category in article.categories %}
                        <p class="categoryDetail">{{ category.name }}</p>
                    {% endfor %}
                </div>

                <h1 class="titleDetail">{{ article.title }}</h1>

                <div class="textDetail">
                    {{ article.description | nl2br }}
                </div>

                {% for key in test|keys | slice(0,1)%}

                    {% if key <= test|length %}
{{ dump(test|length) }}
                        <div class="pageSuivante">
                            <a href="{{ path('app_home_details', { 'id' : article.id  }) }}">
                                <p><strong>Projet Suivant</strong></p>
                            </a>
                        </div>

                    {% endif %}

                {% endfor %}




            </div>
        </div>
    </div>
{% endblock %}
