{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block main %}

    {% include('partials/_headerDetail.html.twig') %}
    <div class="positionContainerDetail">
        <div class="wrapper">
            <div class="slider-wrap">
                <div class="swiper-container" data-controller="carousel"
                     data-carousel-options-value='{
                     "pagination": { "el": ".swiper-pagination", "dynamicBullets":"true" },
                     "navigation": { "nextEl": ".swiper-button-next",
                                     "prevEl": ".swiper-button-prev" }}'>
                    <div class="swiper-wrapper">

                        {% for attachment in article.attachments %}
                            <div class="swiper-slide">
                                <div class="swiper-button-prev"></div>
                                    <img class="imgDetailcover" src="{{ asset( 'images/attachments/' ~ attachment.image) }}"
                                     alt="">
                                <div class="swiper-button-next"></div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>


            <div class="article">

                <div class="blocBlanc">
                    <p><strong>Client :</strong></p>
                    <p>{{ article.title }}</p>

                    <p class="detailTitre"><strong>Date :</strong></p>
                    <p>{{ article.createdAt | date("d M", "Europe/Paris") }}</p>

                    {% if article.categories|length > 1 %}
                        <p class="detailTitre"><strong>Catégories :</strong></p>
                    {% else %}
                        <p class="detailTitre"><strong>Catégorie :</strong></p>
                    {% endif %}

                    {% for category in article.categories %}
                        <p class="categoryDetail">{{ category.name }}</p>
                    {% endfor %}
                </div>

                <h1 class="titleDetail">{{ article.title }}</h1>

                <div class="textDetail">
                    {{ article.description | nl2br }}
                </div>

                <div class="paginationDetails">

                    <div class="blocPrecedent">
                        {% if previous[0] is defined %}
                            <a href="{{ path('app_home_details', { 'id' : previous[0].id  }) }}">
                                <p><img src="{{ asset('build/images/flecheBureauMine.png') }}"
                                        alt="fleche-Detail-Projet"
                                        class="fleche">
                                    Projet precedent
                                </p>
                            </a>
                        {% endif %}
                    </div>

                    <div class="blocSuivant">
                        {% if next[0] is defined %}
                            <a href="{{ path('app_home_details', { 'id' : next[0].id  }) }}">
                                <p>Projet Suivant
                                    <img src="{{ asset('build/images/flecheBureauMine.png') }}"
                                         alt="fleche-Detail-Projet"
                                         class="fleche">
                                </p>
                            </a>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

