<div class="col-sm-6 col-lg-4 mb-4 d-flex justify-content-center" style="position: absolute; left: 0; top: 0;">
    <div class="card w-75 bg-transparent border-0 rounded-0">
        <a href="{{ path('app_home_details', { 'id': article.id }) }}">
        <img src="{{ asset( 'build/images/' ~ article.image) }}" class="card-img-top border-0 rounded-0" alt="">
        <div class="card-body bg-light">
            <h5 class="card-title text-black">{{ article.title|upper }}</h5>
            <p class="card-text"><small class="text-muted">Identité - Webdesign - Illustration</small></p>
{#            <p class="card-text">{{ article.description|u.truncate(100) }}</p>#}
{#            <a href="{{ path('app_home_details', { 'id': article.id }) }}" class="btn btn-dark">Détails</a>#}
        </div>
        </a>
    </div>
</div>


