<div class="card-wrapper col-sm-6 col-lg-4 mb-4 d-flex justify-content-center" id="article-{{ article.id }}">
    <div class="card bg-transparent border-0 rounded-0">
        <a href="{{ path('app_home_details', { 'id': article.id }) }}" class="linkCard">
            {% for attachment in article.attachments | slice(0,1) %}
            <img src="{{ asset( 'images/attachments/' ~ attachment.image ) }}" class="card-img-top border-0 rounded-0" alt="">
            {% endfor %}
            <div class="card-body bg-transparent p-0">
                <p class="card-title text-black">{{ article.title }}</p>
                <p class="categoryCard">
                    {% for category in article.categories %}
                        {{ category.name }}
                        {% if not loop.last %}-{% endif %}
                    {% endfor %}
                </p>
            </div>
        </a>
    </div>
</div>


