<div class="header">
    <img src="{{ asset('build/images/LogoIntro.png') }}" alt="">
<p class="animate-text">Bureau Mine est un studio de design graphique et d'illustration, nous intervenons sur des
projets de artistique, d'identité visuelle, d'illustration, de webdesign, de typographie sur mesure
d'édition et de motion design avec singularité, cohérence et précision.</p>
</div>

<div id="navbar">
    <a href="{{ path('app_home') }}" class="logo-nav"> <img src="{{ asset('build/images/LOGO_BUREAU_MINE.png') }}" alt="" class="logo-header"></a>
   <div class="nav-links">
    <a href="javascript:void(0)"><a class="real-link" href="{{ path('app_contact') }}">Contact</a></a>
    <a href="javascript:void(0)"><a class="real-link" href="{{ path('app_info') }}">Info</a></a>
    <a href="javascript:void(0)"><a  class="real-link" href="{{ path('app_home') }}">Projets</a></a>
   </div>
</div>