<div class="headerCenter">
    <header>
        <a href="{{ path('app_home')}}">Accueil</a>
        <a href="{{ path('app_home')}}">Agence</a>
        <img src="{{ asset('build/images/LOGO_BUREAU_MINE.png') }}" class="logo" alt="Logo BureauMine">
        <a href="{{ path('app_home')}}">Catégories</a>
        <a href="{{ path('app_contact')}}">Contact</a>
    </header>
</div>